.connect-button {
    margin: 16px auto 0;
}

.connect-button:hover {
    border-color: #ff6600;
}

.mint-button {
    margin: 16px auto 0;
}

.mint-button:hover {
    border-color: #ff6600;
}

.disconnect-text {
    margin: 16px auto 0;
    color: #ff6600;
    font-size: small;
}

.disconnect-text:hover {
    text-decoration: underline;
    cursor: pointer;
}
